# Trabalho de ICD: UAP (Fenômenos Anômalos não Identificados)
*Professor: Yuri Malheiros Alunos: Vitoria, Simplicio, Daiellem, Bruno*

### Limpeza:

In [1]:
import pandas as pd
import numpy as np

In [2]:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_csv("./ufo_data_nuforc.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1317 entries, 0 to 1316
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   posted      1317 non-null   object
 1   date        1317 non-null   object
 2   time        1317 non-null   object
 3   city        1317 non-null   object
 4   state       1317 non-null   object
 5   shape       1317 non-null   object
 6   duration    1243 non-null   object
 7   summary     1317 non-null   object
 8   images      1317 non-null   object
 9   img_link    1317 non-null   object
 10  lat         1317 non-null   float64
 11  lng         1317 non-null   float64
 12  population  1317 non-null   int64
dtypes: float64(2), int64(1), object(10)
memory usage: 133.9+ KB

[Fonte](https://www.kaggle.com/datasets/joebeachcapital/ufo-sightings)

Esse primeiro não apresenta dados para remover ou modificar, vamos verificar se tem linhas duplicadas.

In [140]:
df1 = df1.drop_duplicates()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1317 entries, 0 to 1316
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   posted      1317 non-null   object
 1   date        1317 non-null   object
 2   time        1317 non-null   object
 3   city        1317 non-null   object
 4   state       1317 non-null   object
 5   shape       1317 non-null   object
 6   duration    1243 non-null   object
 7   summary     1317 non-null   object
 8   images      1317 non-null   object
 9   img_link    1317 non-null   object
 10  lat         1317 non-null   float64
 11  lng         1317 non-null   float64
 12  population  1317 non-null   int64
dtypes: float64(2), int64(1), object(10)
memory usage: 133.9+ KB

Não há linhas duplicadas tambem, logo abaixo só salvamos uma copia dele para que fique mais facil de saber com que dataframe estamos trabalhando e não nos perdemos. Vamos para o próximo

In [141]:
df1.to_csv('df1.csv')

In [142]:
df2= pd.read_csv("./datasetETs.csv", low_memory=False)

[Fonte](https://www.kaggle.com/datasets/camnugent/ufo-sightings-around-the-world)

In [143]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  object
 10  longitude                        80332 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

Esse dataframe tem poucas colunas com dados quantitativos, mas uma rapida olhada percebe-se que a coluna da latitude que conta com dados numericos esta como object, logo algo esta errado(muitas das vezes isso acontece quando digitamos a virgula ao inves do ponto, mas não era esse o problema procurei mais um pouco e descobri que foi digitado em uma das linhas uma letra no meio dos numeros, como eu sabia qual era a letra usei o replace para removela e transformar otipo da coluna para float)

In [144]:
df2["latitude"] = df2["latitude"].str.replace('q', '').astype(float)

In [145]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Date_time                        80332 non-null  object
 1   city                             80332 non-null  object
 2   state/province                   74535 non-null  object
 3   country                          70662 non-null  object
 4   UFO_shape                        78400 non-null  object
 5   length_of_encounter_seconds      80332 non-null  object
 6   described_duration_of_encounter  80332 non-null  object
 7   description                      80317 non-null  object
 8   date_documented                  80332 non-null  object
 9   latitude                         80332 non-null  float64
 10  longitude                        80332 non-null  float64
dtypes: float64(2), object(9)
memory usage: 6.7+ MB

In [146]:
df2.to_csv('df2.csv')

In [147]:
df3= pd.read_csv("./consolidated_weather_V03.csv")

[Fonte](https://www.kaggle.com/datasets/emorelli/consolidated-ufo-weather-data)

In [148]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51870 entries, 0 to 51869
Data columns (total 27 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      51870 non-null  object
 1   city       51870 non-null  object
 2   colour     80 non-null     object
 3   shape      51868 non-null  object
 4   mday       51870 non-null  int64
 5   month      51870 non-null  int64
 6   year       51870 non-null  int64
 7   hour       51870 non-null  int64
 8   id         51631 non-null  float64
 9   pressure   51659 non-null  float64
 10  temp       51544 non-null  float64
 11  hail       51870 non-null  int64
 12  heatindex  3589 non-null   float64
 13  windchill  8718 non-null   float64
 14  rain       51870 non-null  int64
 15  vis        51170 non-null  float64
 16  wdire      51863 non-null  object
 17  dewpt      51393 non-null  float64
 18  thunder    51870 non-null  int64
 19  fog        51870 non-null  int64
 20  precip     2011 non-null   float64
 21  wspd       51523 non-null  float64
 22  tornado    51870 non-null  int64
 23  hum        51392 non-null  float64
 24  snow       51870 non-null  int64
 25  wgust      3274 non-null   float64
 26  conds      51863 non-null  object
dtypes: float64(11), int64(10), object(6)
memory usage: 10.7+ MB

In [149]:
df3.describe()

,mday,month,year,hour,id,pressure,temp,hail,heatindex,windchill,...,vis,dewpt,thunder,fog,precip,wspd,tornado,hum,snow,wgust
count,51870.000000,51870.000000,51870.000000,51870.000000,51631.000000,5.165900e+04,5.154400e+04,51870.0,3.589000e+03,8.718000e+03,...,5.117000e+04,5.139300e+04,51870.000000,51870.000000,2.011000e+03,5.152300e+04,51870.000000,5.139200e+04,51870.000000,3.274000e+03
mean,15.322749,6.894351,2009.453827,16.072527,29711.072979,-3.455401e-15,-3.639285e-17,0.0,4.701975e-17,-1.630059e-18,...,-2.654989e-16,-2.599226e-16,0.006131,0.003837,-1.192482e-17,2.107232e-16,0.000039,-3.804899e-16,0.004184,2.387285e-16
std,8.871178,3.267532,5.226278,7.484027,17334.403676,1.000000e+00,1.000000e+00,0.0,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,0.078059,0.061821,1.000000e+00,1.000000e+00,0.006209,1.000000e+00,0.064545,1.000000e+00
min,1.000000,1.000000,1997.000000,0.000000,1.000000,-1.200574e+02,-5.419079e+00,0.0,-1.233485e+00,-6.294104e+00,...,-2.740390e+00,-4.498063e+00,0.000000,0.000000,-9.208378e-02,-9.112390e-01,0.000000,-2.967389e+00,0.000000,-3.629085e+00
25%,8.000000,4.000000,2005.000000,11.000000,14740.500000,-5.172452e-01,-6.505150e-01,0.0,-6.061522e-01,-4.887421e-01,...,6.427250e-02,-7.061121e-01,0.000000,0.000000,-9.208378e-02,-9.112390e-01,0.000000,-6.366929e-01,0.000000,-6.405246e-01
50%,15.000000,7.000000,2011.000000,20.000000,29475.000000,-3.200259e-02,1.284951e-01,0.0,-1.970223e-01,2.087467e-01,...,6.427250e-02,1.309408e-01,0.000000,0.000000,-9.208378e-02,8.129116e-03,0.000000,1.719158e-01,0.000000,-1.187125e-01
75%,23.000000,10.000000,2014.000000,21.000000,44513.500000,5.056987e-01,7.517031e-01,0.0,4.303103e-01,7.371474e-01,...,6.427250e-02,7.461243e-01,0.000000,0.000000,-5.515109e-02,3.738992e-01,0.000000,7.902636e-01,0.000000,4.125871e-01
max,31.000000,12.000000,2017.000000,23.000000,60937.000000,4.466328e+00,4.102724e+00,0.0,3.676105e+01,1.371228e+00,...,3.089814e+01,3.973317e+00,1.000000,1.000000,3.117759e+01,9.886492e+01,1.000000,1.598872e+00,1.000000,7.262557e+00

O comando .info( ) é essêncial para conhecer nosso dataframe informa as caractersiticas das nossas colunas apresentado a quantidade de dados, a quantidade de dados vazios e o tipo de dado que das colunas. Já o comando .decribe( ) trás informações mais precisas, por padrão utiliza apenas dados quantitativos informando a quantidade de dados(por aqui já se pode saber a quantidade de valores vazios), a media dos valores, std é o desvio padrão, Min e max são os valores que nos auxiliam para identificar a amplitude da amostra. 
Os valores de 25%, 50% e 75% são os quartis, são os valores que nos mostram de que forma os dados foram distribuídos, veremos depois na usando o boxplot. 

Podemos usar dados categoricos com o .describe(), desde que os especificamos as colunas na entrada. Como os dados são categóricos, a função describe retorna cálculos mais adequados para estes tipos de dados, como a contagem de valores distintos (unique), a moda (top) e a frequência da mesma (freq), assim como tambem é possivel saber quanto de valores vazios cada coluna tem.
Com essa visualizão nós conseguimos pensar em informações que queremos extrair desse dataframe e, o que nos interessa nessa parte do projeto, atraves de qual grafico fica melhor a visualização das informações.

Nós conseguimos indentificar que existe muitas colunas com nome de variaveis de condições climaticas, mas existe uma coluna com o nome 'conds' que tambem tem esses dados, ou seja, essas colunas são desnecessarias,vamos agora remove-las.

In [150]:
df3 = df3.drop(["snow", "tornado", "fog", "thunder", "rain", "hail"], axis = 1)

In [151]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51870 entries, 0 to 51869
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   state      51870 non-null  object
 1   city       51870 non-null  object
 2   colour     80 non-null     object
 3   shape      51868 non-null  object
 4   mday       51870 non-null  int64
 5   month      51870 non-null  int64
 6   year       51870 non-null  int64
 7   hour       51870 non-null  int64
 8   id         51631 non-null  float64
 9   pressure   51659 non-null  float64
 10  temp       51544 non-null  float64
 11  heatindex  3589 non-null   float64
 12  windchill  8718 non-null   float64
 13  vis        51170 non-null  float64
 14  wdire      51863 non-null  object
 15  dewpt      51393 non-null  float64
 16  precip     2011 non-null   float64
 17  wspd       51523 non-null  float64
 18  hum        51392 non-null  float64
 19  wgust      3274 non-null   float64
 20  conds      51863 non-null  object
dtypes: float64(11), int64(4), object(6)
memory usage: 8.3+ MB

Agora vamos remover as linhas duplicadas do dataframe, usando o comando .drop_duplicates())

In [152]:
df3 = df3.drop_duplicates()

In [153]:
df3.to_csv('df3.csv')

OBSERVAÇÃO: O nome "Fonte" é o link de cada dataset original.