# Trabalho de ICD (Part.02): Atividades Extraterrestres
*Professor: Yure Malheiros Alunos: Vitoria, Simplicio, Daiellem, Bruno*

Importanto as bibliotecas que vamos trabalhar:

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

Importação dos DataSets:

In [4]:
datasetETs01 = pd.read_csv("./ufo_data_nuforc.csv")
datasetETs01

,posted,date,time,city,state,shape,duration,summary,images,img_link,lat,lng,population
0,03/06/23,03/05/23,20:47:00,Villas,NJ,Diamond,Few minutes long,Low flying aircraft,Yes,https://nuforc.org/webreports/reports/174/S174...,39.0157,-74.9350,9866
1,03/06/23,03/05/23,19:00:00,Mooresville,NC,Orb,10 seconds,Turquoise colored light traveling from south t...,Yes,https://nuforc.org/webreports/reports/174/S174...,35.5847,-80.8266,48431
2,03/06/23,03/05/23,12:30:00,Los Angeles,CA,Changing,4 min,Dark object triangular changed shape,Yes,https://nuforc.org/webreports/reports/174/S174...,34.1141,-118.4068,12121244
3,03/06/23,03/05/23,00:30:00,Brooklyn,NY,Light,Atleast 10 mins,"Light object sky, In Brooklyn towards Manhattan",Yes,https://nuforc.org/webreports/reports/174/S174...,40.6501,-73.9496,2736074
4,03/06/23,03/04/23,23:49:00,Enid,OK,Formation,NaN,It suddenly appeared over rhe neighbors house ...,Yes,https://nuforc.org/webreports/reports/174/S174...,36.4063,-97.8700,51129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1312,12/19/21,12/09/21,04:00:00,Staunton,VA,Circle,>20 minutes,The object was distinctively different than th...,Yes,https://nuforc.org/webreports/reports/165/S165...,38.1593,-79.0611,25358
1313,12/19/21,12/03/21,18:00:00,Wentworth,MO,Cylinder,NaN,Long cylinderical craft with about 15 or 20 wh...,Yes,https://nuforc.org/webreports/reports/165/S165...,36.9932,-94.0756,85
1314,12/19/21,09/27/21,22:00:00,Blowing Rock,NC,Light,NaN,I saw three lights in the sky that approached ...,Yes,https://nuforc.org/webreports/reports/165/S165...,36.1298,-81.6706,1072
1315,12/19/21,02/21/20,19:30:00,Scottsdale,AZ,Other,NaN,Bank of what looked like blacklight screens fl...,Yes,https://nuforc.org/webreports/reports/165/S165...,33.6872,-111.8651,238685
1316,12/19/21,03/04/15,16:30:00,Clear Lake,CA,Cigar,NaN,I seen a cigar shaped craft with black rectang...,Yes,https://nuforc.org/webreports/reports/165/S165...,38.9589,-122.6330,16468

[Fonte](https://www.kaggle.com/datasets/joebeachcapital/ufo-sightings)
> Esse primeiro DataSet é bem limpo. Tem as datas, hora, duração, informações da cidade e outros dados das aparições.

In [5]:
datasetETs01["date"].mode()

0    09/24/22
Name: date, dtype: object

In [6]:
datasetETs01["city"].mode()

0    Las Vegas
Name: city, dtype: object

In [7]:
datasetETs01["state"].mode()

0    FL
Name: state, dtype: object

In [8]:
datasetETs01["shape"].mode()

0    Circle
Name: shape, dtype: object

In [9]:
imagens = datasetETs01["images"].value_counts()
imagens

images
Yes    1317
Name: count, dtype: int64

Na coluna "images" eu usei esse comando para saber se havia algum resultado diferente de "Yes", foi possivel observa que todas as aparições tem registros.

>Pegamos moda de algumas variaveis( "date", "city", "state" e "shape") o que se pode fazer com essas colunas é apenas encontrar suas modas. Que tambem pode ser feito com um ".value_counts()" e obter uma listagem mais completa.
>Com esse dado é possivel observar a data, a cidade e estado que mais teve aparições e a forma dos ETs observados.

Logo abaixo trabalhamos com a coluna "population" das cidades onde houve as aparições e obtemos suas medidas de centralidade:

In [10]:
datasetETs01["population"].mean()

558924.8762338648

In [11]:
datasetETs01["population"].median()

37871.0

In [12]:
datasetETs01["population"].mode()

0    2150373
Name: population, dtype: int64

...

In [38]:
datasetETs02 = pd.read_csv("./datasetETs.csv", low_memory=False)
datasetETs02

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
...,...,...,...,...,...,...,...,...,...,...,...
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

[Fonte](https://www.kaggle.com/datasets/camnugent/ufo-sightings-around-the-world)
>Esse segundo DataSet tambem é bem limpo, mas teve um problema de valores diferentes em uma mesma coluna entao utilizamos o "Low_memory = False" para corrigir e conseguir importa ele, em relaçao ao DatasSet anterior, tem o acrescimo da descrição das aparições

In [14]:
datasetETs02["Date_time"].mode()

0    7/4/2010 22:00
Name: Date_time, dtype: object

In [15]:
datasetETs02["state/province"].mode()

0    ca
Name: state/province, dtype: object

In [16]:
datasetETs02["country"].mode()

0    us
Name: country, dtype: object

In [17]:
datasetETs02["UFO_shape"].mode()

0    light
Name: UFO_shape, dtype: object

In [18]:
datasetETs02["length_of_encounter_seconds"].mode()

0    300
Name: length_of_encounter_seconds, dtype: object

Segui os mesmos passos do dataframe anterior, nesse tentei calcular a media e mediana da coluna "length_of_encounter_seconds" , que seria  e media e a mediana em segundos da aparição, mas deu errado :(

...

In [19]:
datasetETs03 = pd.read_csv("./consolidated_weather_V03.csv")
datasetETs03

,state,city,colour,shape,mday,month,year,hour,id,pressure,...,dewpt,thunder,fog,precip,wspd,tornado,hum,snow,wgust,conds
0,WA,Olympia,NaN,Formation,14,11,1997,21,NaN,-0.163149,...,-0.867472,0,0,NaN,-0.357641,0,1.598872,0,NaN,Clear
1,WA,Olympia,NaN,Fireball,14,11,1997,21,NaN,-0.163149,...,-0.867472,0,0,NaN,-0.357641,0,1.598872,0,NaN,Clear
2,WA,Olympia,NaN,Formation,14,11,1997,21,NaN,-0.163149,...,-0.867472,0,0,NaN,-0.357641,0,1.598872,0,NaN,Clear
3,MD,Salisbury,NaN,Oval,24,11,1997,2,NaN,-0.189379,...,-0.464073,0,0,NaN,-0.911239,0,0.980525,0,NaN,Mostly Cloudy
4,MD,Salisbury,YELLOW,Oval,24,11,1997,2,NaN,-0.189379,...,-0.464073,0,0,NaN,-0.911239,0,0.980525,0,NaN,Mostly Cloudy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51865,AZ,Prescott Valley,NaN,Circle,28,1,2000,20,57531.0,0.610616,...,-1.835629,0,0,NaN,-0.357641,0,-0.731823,0,NaN,Clear
51866,CA,Covina,NaN,Light,27,1,2000,18,57536.0,0.413896,...,NaN,0,0,NaN,-0.911239,0,NaN,0,NaN,Clear
51867,WA,Seattle,NaN,Fireball,26,1,2000,19,57543.0,1.751592,...,-0.595177,0,0,NaN,-0.911239,0,0.790264,0,NaN,Mostly Cloudy
51868,TX,Edinburg,NaN,Light,25,1,2000,19,57544.0,0.230291,...,0.635190,0,0,NaN,0.373899,0,0.171916,0,NaN,Overcast
51869,NM,Rio Rancho,NaN,Sphere,23,1,2000,15,57549.0,0.545043,...,-2.481068,0,0,-0.092084,0.917612,0,-2.539302,0,-0.640525,Clear

[Fonte](https://www.kaggle.com/datasets/emorelli/consolidated-ufo-weather-data)
>Esse terceiro DataSet tem foco maior nos dados climaticos das regiãos de aparições dos ETs

In [28]:
datasetETs03["state"].mode()

0    CA
Name: state, dtype: object

In [29]:
datasetETs03["city"].mode()

0    Phoenix
Name: city, dtype: object

In [30]:
datasetETs03["colour"].mode()

0    RED
Name: colour, dtype: object

In [31]:
datasetETs03["shape"].mode()

0    Light
Name: shape, dtype: object

In [32]:
datasetETs03["year"].mode()

0    2014
Name: year, dtype: int64

In [33]:
datasetETs03["month"].mode()

0    7
Name: month, dtype: int64

In [34]:
datasetETs03["mday"].mode()

0    1
Name: mday, dtype: int64

In [35]:
datasetETs03["conds"].mode()

0    Clear
Name: conds, dtype: object

>Esse dataframe é mais tratado, tem os dados bem dispostos, é possiveil trabalhar com mais clareza. Coloquei as modas de algumas variaveis, outras são bem mais especificas sobre a geolocalizaçao e clima, optamos por não trabalhar com elas agora.

In [36]:
datasetETs03.columns

Index(['state', 'city', 'colour', 'shape', 'mday', 'month', 'year', 'hour',
       'id', 'pressure', 'temp', 'hail', 'heatindex', 'windchill', 'rain',
       'vis', 'wdire', 'dewpt', 'thunder', 'fog', 'precip', 'wspd', 'tornado',
       'hum', 'snow', 'wgust', 'conds'],
      dtype='object')